<div class="Survey">
    <div class="Survey__name">{$name}</div>
    <div class="Survey__item" n:foreach="$survey as $item">
        <div class="Survey__item--name">{$item->name}</div>
        <div class="Survey__item--bar"></div>
    </div>
</div>