<div class="Survey">
    <div class="Survey__name">{$name}</div>
    <div class="Survey__item" n:foreach="$survey as $item">
        <div class="Survey__item--name">
        	<a href={link vote! $item->id}>{$item->name}</a><!--
         --><div class="Survey__item--votes">({$item->counter})</div>
        </div>
        <div class="Survey__item--bar"></div>
        <div class="Survey__item--percents">{100*$item->counter/$counter|substr:NULL, 2}%</div>
    </div>
</div>
