<div class="currency">
    <div class="currency-item" n:foreach="$currencies as $currency">
        <span class='name'>{$currency['name']} </span>
        <img src="{$basePath}/images/images_for_currency/{$currency['img']}">
        <span class='value'>{$currency['value']}</span>
        <img src="{$basePath}/images/images_for_currency/up.gif">
        <span class="percentil"> -1,5%</span>
    </div>
</div>