#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
    LMEnamespace: Prerovan\Model\Entity
php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: Prerovan\*Module\Presenters\*Presenter


tracy:
    bar:
        - NetteExtras\XDebugHelper(PHPSTORM)


session:
	expiration: 14 days


services:
	- Prerovan\Model\UserManager
	- Prerovan\Forms\SignFormFactory
	- Prerovan\Misc\FilterLoader
	router: Prerovan\RouterFactory::createRouter

	# lean mapper
	- LeanMapper\DefaultEntityFactory
	- Prerovan\Model\Mapper(%LMEnamespace%)
	filters: Prerovan\Model\Filters

	leanMapper.connection:
		setup:
			- registerFilter(limit, [@filters, limit])
			- registerFilter(confirmedArticle, [@filters, confirmedArticle])
			- registerFilter(confirmedPhoto, [@filters, confirmedPhoto])

    # repositories
	- Prerovan\Model\Repository\ArticleRepository
	- Prerovan\Model\Repository\AktualityRepository
	- Prerovan\Model\Repository\BannersPhotoRepository
	- Prerovan\Model\Repository\SurveyRepository
	- Prerovan\Model\Repository\RefreshBannerRepository
	- Prerovan\Model\Repository\SurveyVoteRepository
	- Prerovan\Model\Repository\AdvertisingRepository

    # manager application logic
	- Prerovan\Model\Manager\RssManager
	- Prerovan\Model\Manager\CurrencyManager
	- Prerovan\Model\Manager\MigrateManager
	- Prerovan\Model\Manager\RefreshBannerManager
	- Prerovan\Model\Manager\SurveyManager
	- Prerovan\Model\Manager\DayInfoManager

	# factory application logic
	- Prerovan\Model\Factory\RssFactory
	- Prerovan\Model\Factory\CurrencyFactory
	- Prerovan\Model\Factory\RefreshBannerFactory
	- Prerovan\Model\Factory\DayInfoFactory

	# component factories
	- implement: Prerovan\Components\IListOfArticlesComponentFactory
	  parameters: [count]
	  arguments: [%count%]
	- implement: Prerovan\Components\IListOfRssFeedComponentFactory
	  parameters: [rssCategory, count]
	  arguments: [%rssCategory%, %count%]
	- implement: Prerovan\Components\ITimeChangeBannerComponentFactory
	  parameters: [array banners, delay]
	  arguments: [%banners%, %delay%]
	- implement: Prerovan\Components\IRefreshBannerComponentFactory
	- implement: Prerovan\Components\ICurrencyComponentFactory
	- implement: Prerovan\Components\ISurveyComponentFactory
	- implement: Prerovan\Components\IAssideBannerComponentFactory
	- implement: Prerovan\Components\IDayInfoComponentFactory
	- implement: Prerovan\Components\IAdvertisingMainComponentFactory


extensions:
    leanMapper: Prerovan\Model\LeanMapperExtension
    curl: Kdyby\Curl\DI\CurlExtension