#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
    LMEnamespace: Prerovan\Model\Entity
php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: Prerovan\*Module\Presenters\*Presenter


tracy:
    bar:
        - NetteExtras\XDebugHelper(PHPSTORM)


session:
	expiration: 14 days


services:
	- Prerovan\Model\UserManager
	- Prerovan\Forms\SignFormFactory
	- Prerovan\Misc\FilterLoader
	router: Prerovan\RouterFactory::createRouter

	# lean mapper
	- LeanMapper\DefaultEntityFactory
	- Prerovan\Model\Mapper(%LMEnamespace%)

    # repositories
	- Prerovan\Model\Repository\ArticleRepository

	# component factories
	- implement: Prerovan\Components\IListOfArticlesComponentFactory
	  parameters: [count]
	  arguments: [%count%]

extensions:
    leanMapper: Minicup\Model\LeanMapperExtension