#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
    LMEnamespace: Prerovan\Model\Entity
php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: Prerovan\*Module\Presenters\*Presenter


tracy:
    bar:
        - NetteExtras\XDebugHelper(PHPSTORM)


session:
	expiration: 14 days


services:
	- Prerovan\Model\UserManager
	- Prerovan\Forms\SignFormFactory
	- Prerovan\Misc\FilterLoader
	router: Prerovan\RouterFactory::createRouter

	# lean mapper
	- LeanMapper\DefaultEntityFactory
	- Prerovan\Model\Mapper(%LMEnamespace%)
	filters: Prerovan\Model\Filters

	leanMapper.connection:
		setup:
			- registerFilter(limit, [@filters, limit])
			- registerFilter(confirmedArticle, [@filters, confirmedArticle])
			- registerFilter(confirmedPhoto, [@filters, confirmedPhoto])

    # repositories
	- Prerovan\Model\Repository\ArticleRepository
	- Prerovan\Model\Repository\AktualityRepository

    # manager application logic
	- Prerovan\Model\Manager\RssManager
	- Prerovan\Model\Manager\MigrateManager

	# factory application logic
	- Prerovan\Model\Factory\RssFactory

	# component factories
	- implement: Prerovan\Components\IListOfArticlesComponentFactory
	  parameters: [count]
	  arguments: [%count%]
	- implement: Prerovan\Components\IListOfRssFeedComponentFactory
	  parameters: [rssCategory, count]
	  arguments: [%rssCategory%, %count%]
	- implement: Prerovan\Components\ITimeChangeBannerComponentFactory
	  parameters: [array timeChangeBanner, time]
	  arguments: [%timeChangeBanner%, %time%]
	- implement: Prerovan\Components\IRefreshBannerComponentFactory


extensions:
    leanMapper: Prerovan\Model\LeanMapperExtension
    curl: Kdyby\Curl\DI\CurlExtension