<div style="width: 60px;">
    <script type="text/javascript" src="http://www.in-pocasi.cz/pocasi-na-web/pocasi-na-web.php?typ=simple&amp;layout=pruh&amp;region=7&amp;barva-den=2086c0&amp;barva-teplota=125b8b&amp;dni=1">
    </script>
</div>

{$day}
<div id="ikal-jmena"></div>
<script type="text/javascript" src="http://www.ikal.cz/widget/kalendar-jmen.js.php"></script>
<script type="text/javascript">
    iKAL_JMENA.init('ctext: 000000, htext: 18, showcount: 1');
    iKAL_JMENA.show();
</script>