{foreach $rssFeed as $item}
    <p><a href={$item['url']}>{$item['title']}</a></p>
    {first}
        {ifset $item['image']}
            <img src={$item['image']}>
        {/ifset}
    {/first}
{/foreach}