#container{
    width: 1024px;
    margin: 0 auto;
    font-family: Calibri;
    padding: 0 10px;
}

#header{
}

#box{
    width: 864px;
    float: left;
}

#asideBanner{
    width: 160px;
    float: left;
}

#asideBanner img{
    width: 140px;
    height: 170px;
    padding: 0 0 5px 20px;
}

#mainMenu{
    width: 100%;
}

#mainMenu ul{
    float: left;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #1935a3;
    width: calc(100% - 2px);
    max-height: 46px;
}

#mainMenu ul li:hover{
    background-color: #1935a3;
    color: white;
}

#mainMenu ul li{
    padding: 15px 25px;
    font-size: 16px;
    color: #1935a3;
    float: left;
}

#content{
    width: 640px;
    float: left;
}

#mainBanner{
    width: 100%;
    height: 120px;
    margin: 0 0 10px 0;
}

#asideContent{
    width: 200px;
    margin-left: 24px;
    float: left;
}

#asideContent ul{
    width: calc(100% - 2px);
    margin-bottom: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #1935a3;
}

#asideContent ul li{
    padding: 5px 0 5px 10px;
    font-size: 15px;
    color: #1935a3;
}

#asideContent ul li:hover{
    background-color: #1935a3;
    color: white;
}

#asideContent img{
    /*margin: 5px 0;*/
}

#footer{
    width: 100%;
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: #1935a3;
    margin: 5px 0;
}

#footer ul{
    margin: 0 auto;
}

#footer ul li{
    margin: 5px 25px;
    font-size: 16px;
    color: #66676b;
    float: left;
}

.blue{
    margin: 10px 0;
    height: 10px;
    background-color: #1935a3;
}

#Homepage{
    width: 100%;
}

.ListOfRssFeedComponent{
    padding: 5px 0;
    float: left;
}

.ListOfRssFeedComponent .blue{
    margin: 2px 0;
    color: #1935a3;
    height: 5px;
}

.ListOfRssFeedComponent .NameOfRss{
    color: #D51616;
    font-size: 18px;
    font-weight: bold;
}

.ListOfRssFeedComponent .item{
    float: left;
    margin: 0 0 5px;
}

.ListOfRssFeedComponent .item img{
    margin: 0 5px 0 0;
    float: left;
    height: 56px;
}

.ListOfRssFeedComponent .item a{
    font-weight: bold;
    color: #1935a3;
}

.ListOfRssFeedComponent .item a:hover{
    color: red;
}

.articles{
    width: 100%;
    float: left;
    margin: 0 0 10px;
}

.articles .prerovanNews{
    color: #1935a3;
    font-size: 18px;
    font-weight: bold;
}

.articles .blue{
    margin: 2px 0;
    color: #1935a3;
    height: 5px;
}

.articles .listOfArticles p{
    margin: 7px 0 7px;
}

.articles .listOfArticles p a{
    color: #1935a3;
    text-decoration: underline;
    letter-spacing: 1px;
}

.articles .listOfArticles p a:hover{
    color: red;
}

.articles .listOfArticles p .inserted{
    margin: 0 0 0 5px;
    color: #999999;
    font-size: 11px;
}

.articles .listOfArticles{
    float: left;
}

.articles img{
    float: right;
    margin: 0 0 0 0;
    max-height: 170px;
}

.nextArticles a{
    font-size: 20px;
    color: #1935a3;
}

.nextArticles a:hover{
    color: red;
}

#shelder{
    width: 200px;
    height: 150px;
    border-width: 1px;
    border-style: solid;
    border-color: #1935a3;
}

#timeChangeBanner{
    width: 200px;
    height: 250px;
}

.currency{
    margin: 10px 0;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #1935a3;
}

.currency .currency-item{
}

.currency .currency-item .name{
    display: inline-block;
    width: 32px;
}

.currency .currency-item{
    margin: 2px 0;
}

.currency .currency-item .value{
    display: inline-block;
    width: 45px;
    text-align: right;
}

.currency .currency-item img{
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    margin: 0 5px;
}

.currency .currency-item .percentil{
    display: inline-block;
    width: 45px;
    text-align: right;
}

.Survey {
  width: 200px;
  margin: 5px;
  padding: 5px;
  border: 2px solid darkBlue;
}
.Survey__name {
  font-size: 24px;
}
.Survey__item {
  margin: 2px 0;
}
.Survey__item--name {
  color: blue;
  text-decoration: underline;
  position: relative;
}
.Survey__item--votes {
  color: black;
  font-size: 11px;
  margin-top: 3px;
  margin-left: 3px
}
.Survey__item--bar {
  clear: both;
  display: inline-block;
  height: 10px;
}
.Survey__item--percents {
  float: right;
  margin-top: 3px;
  font-size: 10px;
}
.Survey__item:nth-child(1) .Survey__item--bar {
  background-color: #bf1732;
  width: 175px;
}
.Survey__item:nth-child(2) .Survey__item--bar {
  background-color: #2f1148;
  width: 175px;
}
.Survey__item:nth-child(3) .Survey__item--bar {
  background-color: #3a5d6c;
  width: 175px;
}
.Survey__item:nth-child(4) .Survey__item--bar {
  background-color: #a4ef23;
  width: 175px;
}
.Survey__item:nth-child(5) .Survey__item--bar {
  background-color: #2049b9;
  width: 175px;
}
.Survey__item:nth-child(6) .Survey__item--bar {
  background-color: #a6a665;
  width: 175px;
}
