#container{
    width: 1024px;
    margin: 0 auto;
    font-family: Calibri;
}

#header{
}

#box{
    width: 864px;
    float: left;
}

#asideBanner{
    width: 160px;
    float: left;
}

#asideBanner img{
    width: 140px;
    height: 170px;
    padding: 0 0 5px 20px;
}

#mainMenu{
    width: 100%;
}

#mainMenu ul{
    float: left;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #1935a3;
    width: calc(100% - 2px);
    max-height: 46px;
}

#mainMenu ul li{
    margin: 15px 25px;
    font-size: 16px;
    color: #1935a3;
    float: left;
}

#content{
    width: 640px;
    float: left;
}

#mainBanner{
    width: 100%;
    height: 120px;
    margin: 0 0 10px 0;
}

#asideContent{
    width: 200px;
    margin-left: 24px;
    float: left;
}

#asideContent ul{
    width: calc(100% - 2px);
    margin-bottom: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #1935a3;
}

#asideContent ul li{
    margin: 5px 0 5px 10px;
    font-size: 15px;
    color: #1935a3;
}

#asideContent img{
    margin: 5px 0;
}

#footer{
    width: 100%;
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: #1935a3;
    margin: 5px 0;
}

#footer ul{
    margin: 0 auto;
}

#footer ul li{
    margin: 5px 25px;
    font-size: 16px;
    color: #66676b;
    float: left;
}

.blue{
    margin: 10px 0;
    height: 10px;
    background-color: #1935a3;
}

#Homepage{
    width: 100%;
}

.ListOfRssFeedComponent{
    padding: 20px 0;
    height: 100px;
}

.ListOfRssFeedComponent .blue{
    margin: 2px 0;
    color: #1935a3;
    height: 5px;
}

.ListOfRssFeedComponent .NameOfRss{
    color: #1935a3;
    font-size: 18px;
    font-weight: bold;
}

.ListOfRssFeedComponent .item{
    float: left;
    margin: 0 0 5px;
}

.ListOfRssFeedComponent .item img{
    margin: 0 5px 0 0;
    float: left;
    height: 56px;
}

.ListOfRssFeedComponent .item a{
    font-weight: bold;
    color: #D51616;
}

.ListOfRssFeedComponent .item a:hover{
    color: red;
}

.articles .prerovanNews{
    color: #1935a3;
    font-size: 18px;
    font-weight: bold;
}

.articles .blue{
    margin: 2px 0;
    color: #1935a3;
    height: 5px;
}

.articles p{
    margin: 7px 0 7px 5px;
}

.articles p a{
    color: dodgerblue;
    text-decoration: underline;
    letter-spacing: 1px;
}

.articles p a:hover{
    color: red;
}

.articles p .inserted{
    margin: 0 0 0 5px;
    color: #999999;
    font-size: 11px;
}

.nextArticles a{
    font-size: 20px;
    color: #1935a3;
}

.nextArticles a:hover{
    color: red;
}

#shelder{
    width: 200px;
    height: 150px;
}

#time_banner{
    width: 200px;
    height: 250px;
}